.advertise {
  background-color: rgb(230, 230, 230);
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0px 0 4rem;
  font-weight: bold;
}

.advertise > a {
  padding: 2rem 0;
}
