.header-container {
  font-weight: bold;
  max-width: 100vw;
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
}

.login,
.shopping {
  width: 150px;
}

.shopping {
  font-size: 3.4rem;
  display: flex;
  justify-content: flex-end;
}

.login,
.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  justify-content: space-around;
  font-size: 2.4rem;
}

.user-icon {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  color: white;
  border-radius: 50%;
}

.header-name {
  font-family: "Figtree", sans-serif;
  letter-spacing: 5px;
  font-weight: 800;
}
